
        /* Ensure the map is centered and responsive */
        #map {
    width: 100%;
    max-width: 1; /* Max width for larger screens */
    height: 720px;
    border: 1px solid #ccc; /* Optional: border to visually separate the map */
}

@media (max-width: 720px) {
    #map {
        height: 400px; /* Adjust map height for smaller screens */
    }
}

@media (max-width: 480px) {
    #map {
        height: 300px; /* Further adjust map height for very small screens */
    }
}